<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Formularios</title>
    </head>
    <body>
        <form action="">
            <input type="text" required><!--Se da funcionalidad al campo con una alerta que se tiene que completar si o si-->
            <input type="color" >
            <input type="submit">
            <input type="email" name="email" ><!--NAME es el idnetificador del campo-->
            <input type="password" name="password" placeholder="Ingrese contraseña"> <!--placeholder espedificacion de que se debe ingresar en el campo segun el campo-->
            <input type="checkbox">
            <input type="radio">
            <input type="file">
            <input type="date">
        </form>
        
    </body>
</html>