<!DOCTYPE html>
<html>
    <head> <!-- le da toda la informacion que no es visible a la pagina -->
        <title> Primera web </title> <!--Define titulo de la pestaña-->

    </head>
    <body> 
        <h1><!--Encabezadoos que van desde el h1 al h6-->
            <h1>TITULO</h1> <!--el h1 se utiliza una sola vez por pagina-->
            <h2></h2>
            <h3></h3>
            <h4></h4>
            <h5></h5>
            <h6></h6>
        </h1> 
        <p><!--parrafos-->
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe facilis porro quam. Provident, dolorem, fuga veniam, quam blanditiis unde eligendi eius quas quia totam hic beatae sint minus ducimus nihil.
        </p> 
    </body> <!--En esta parte va todo lo visible de la pagina-->

    
</html>