<!DOCTYPE html>
<html>
    <head>
        <title>Ejemplo 1</title>
        <link href="assets/css/miestilo.css" rel="stylesheet" >
    </head>
    <body>
        <p id="parrafo1">Somos una empresa que se dedica a la venta de relojes de mesa y pared con
            diseños únicos e innovadores. Utilizamos materia prima de calidad. Elaboramos
            productos a la medida del cliente.</p>
        <h1 id="titulo1">Bienvenidos a Taller de Programación I hello git</h1>
        <p id="parrafo2">Hoy sólo práctico de configuración</p>
    </body>
</html>